In [315]:
import pandas as pd
import numpy as np

In [316]:
from pathlib import Path
import json

#reading json files from raw_data folder
raw_movies_json_folder = Path('../raw_data')
json_files = raw_movies_json_folder.glob('*.json')

all_movies = []

for file in json_files:
    with open(file, "r", encoding="utf-8") as f:
        movie = json.load(f)
        all_movies.append(movie)
    f.close()

movies_df = pd.DataFrame(all_movies)
movies_df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/u2bZhH3nTf0So0UIC1QxAqBvC07.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://movies.disney.com/frozen,109445,tt2294629,[US],en,...,2013-11-20,1274219009,102,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Who will save the day? The ice guy? The nice g...,Frozen,False,7.200,17182
1,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,[GB],en,...,2011-07-12,1341511219,130,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It all ends.,Harry Potter and the Deathly Hallows: Part 2,False,8.084,21451
2,False,/dF6FjTZzRTENfB4R17HDN20jLT2.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.jurassicworld.com/,135397,tt0369610,[US],en,...,2015-06-06,1671537444,124,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is open.,Jurassic World,False,6.700,21121
3,False,/8BTsTfln4jlQrLXUBquXJ0ASQy9.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,[US],en,...,2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.300,20103
4,False,/ehzI1mVcnHqB58NqPyQwpMqcVoz.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",https://www.uphe.com/movies/furious-7,168259,tt2820852,[US],en,...,2015-04-01,1515400000,139,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,Vengeance hits home.,Furious 7,False,7.223,11031
5,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,[US],en,...,2017-12-13,1332698830,152,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let the Past Die,Star Wars: The Last Jedi,False,6.800,15926
6,False,/7JNzw1tSZZEgsBw6lu0VfO2X2Ef.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,[US],en,...,2009-12-15,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.594,32856
7,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,[US],en,...,2012-04-25,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.865,34224
8,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,[US],en,...,2018-06-14,1243225667,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"It's been too long, dahlings.",Incredibles 2,False,7.456,13368
9,False,/b6ZJZHUdMEFECvGiDpJjlfUWela.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.marvel.com/movies/black-panther,284054,tt1825683,[US],en,...,2018-02-13,1349926083,135,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Long live the king.,Black Panther,False,7.400,22971
10,False,/9wXPKruA6bWYk2co5ix6fH59Qr8.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,[US],en,...,2019-04-24,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.238,26962
11,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,[US],en,...,2018-04-25,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,False,8.236,31176
12,False,/uU1Mt4JWhDvl4vKb3AfxNsorkoM.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,[US],en,...,2017-03-16,1266115964,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Be our guest.,Beauty and the Beast,False,6.969,15832
13,False,/AoSZyb37ljMAxw0RdeQEBHKtgcc.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",https://movies.disney.com/frozen-2,330457,tt4520988,[US],en,...,2019-11-20,1453683476,103,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The past is not what it seems.,Frozen II,False,7.241,10072
14,False,/gBmrsugfWpiXRh13Vo3j0WW55qD.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.uphe.com/movies/jurassic-world-fal...,351286,tt4881806,[US],en,...,2018-06-06,1310469037,129,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The park is gone.,Jurassic World: Fallen Kingdom,False,6.538,12408
15,False,/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,[US],en,...,2019-07-12,1662020819,118,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The king has returned.,The Lion King,False,7.102,10570
16,False,/xnHVX37XZEp33hhCbYlQFq7ux1J.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.paramountmovies.com/movies/titanic,597,tt0120338,[US],en,...,1997-11-18,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on earth could come between them.,Titanic,False,7.903,26511
17,False,/kIBK5SKwgqIIuRKhhWrJn3XkbPq.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",235000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.marvel.com/movies/avengers-age-of-...,99861,tt2395427,[US],en,...,2015-04-22,1405403694,141,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A new age has come.,Avengers: Age of Ultron,False,7.271,23876

In [317]:
def extract_name_from_list_of_dict(col, key="name"):
    #Function to extract names from a list of dictionaries and join them with '|'
    if isinstance(col, list):
        values = [item.get(key, "") for item in col] 
        return "|".join(values)
    return np.nan

In [318]:
def clean_movie_data(df):
    #dropping unwanted columns
    drop_columns = ['adult', 'imdb_id', 'original_title', 'video', 'homepage']
    df = df.drop(columns=drop_columns, errors='ignore')


    # Extracting JSON Columns
    df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda name: name.get('name') if isinstance(name, dict) else np.nan)
    df['genres'] = df['genres'].apply(lambda name: extract_name_from_list_of_dict(name))
    df['production_countries'] = df['production_countries'].apply(lambda name: extract_name_from_list_of_dict(name))
    df['production_companies'] = df['production_companies'].apply(lambda name: extract_name_from_list_of_dict(name))
    df['spoken_languages'] = df['spoken_languages'].apply(lambda name: extract_name_from_list_of_dict(name))
    
    numeric_cols = ['budget', 'revenue', 'popularity', 'id', 'vote_count', 'vote_average', 'runtime']
    for col in numeric_cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')


    for col in ['budget', 'revenue', 'runtime']:
        df[col] = df[col].replace(0, np.nan)
    
    df['budget'] = df['budget'] / 1_000_000
    df['revenue'] = df['revenue'] / 1_000_000

    df.loc[df['vote_count'] == 0, 'vote_average'] = np.nan

    for item in ['overview', 'tagline']:
        df[item] = df[item].replace(['No Data', 'None', ''], np.nan)
        
    # Remove duplicates
    df = df.drop_duplicates(subset=['id', 'title'], keep='first')

    # Drop movies with missing IDs or Titles
    df = df.dropna(subset=['id', 'title'])

    df = df.dropna(thresh=10)

    df = df[df['status'] == 'Released'].drop(columns=['status'])

    ordered_columns = ['id', 'title', 'tagline', 'release_date', 'genres', 'belongs_to_collection',
                        'original_language', 'budget', 'revenue', 'production_companies',
                        'production_countries', 'vote_count', 'vote_average', 'popularity',
                        'runtime', 'overview', 'spoken_languages', 'poster_path']
    df = df.reindex(columns=ordered_columns)

    # Profit = Revenue - Budget
    df['profit'] = df['revenue'] - df['budget']

        # Loss = Budget - Revenue
    df['loss'] = df['budget'] - df['revenue']
    
    return df

In [319]:
newMoviesDf = clean_movie_data(movies_df)

newMoviesDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     18 non-null     int64
 1   title                  18 non-null     object
 2   tagline                18 non-null     object
 3   release_date           18 non-null     datetime64[ns]
 4   genres                 18 non-null     object
 5   belongs_to_collection  16 non-null     object
 6   original_language      18 non-null     object
 7   budget                 18 non-null     float64
 8   revenue                18 non-null     float64
 9   production_companies   18 non-null     object
 10  production_countries   18 non-null     object
 11  vote_count             18 non-null     int64
 12  vote_average           18 non-null     float64
 13  popularity             18 non-null     float64
 14  runtime                18 non-null     int64
 15  overview               18 non-null     object
 16  spoken_languages       18 non-null     object
 17  poster_path            18 non-null     object
 18  profit                 18 non-null     float64
 19  loss                   18 non-null     float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(10)
memory usage: 2.9+ KB

In [320]:
def check_anomalies(df, columns):
    result = {}
    for col in columns:
        # value_counts shows the top values including NaN
        result[col] = [df[col].value_counts()]
    return result

In [321]:
highest_revenue_movies = newMoviesDf.sort_values(by='revenue', ascending=False).head(10)
highest_revenue_movies[['title', 'revenue']]

                           title      revenue
6                         Avatar  2923.706026
10             Avengers: Endgame  2799.439100
16                       Titanic  2264.162353
3   Star Wars: The Force Awakens  2068.223624
11        Avengers: Infinity War  2052.415039
2                 Jurassic World  1671.537444
15                 The Lion King  1662.020819
7                   The Avengers  1518.815515
4                      Furious 7  1515.400000
13                     Frozen II  1453.683476

In [322]:
heighest_budget_movies = newMoviesDf.sort_values(by='budget', ascending=False).head(10)
heighest_budget_movies[['title', 'budget']]

                           title  budget
10             Avengers: Endgame   356.0
5       Star Wars: The Last Jedi   300.0
11        Avengers: Infinity War   300.0
15                 The Lion King   260.0
3   Star Wars: The Force Awakens   245.0
6                         Avatar   237.0
17       Avengers: Age of Ultron   235.0
7                   The Avengers   220.0
16                       Titanic   200.0
8                  Incredibles 2   200.0

In [323]:
heighest_profit_movies = newMoviesDf.sort_values(by='profit', ascending=False).head(10)
heighest_profit_movies[['title', 'profit']]

                           title       profit
6                         Avatar  2686.706026
10             Avengers: Endgame  2443.439100
16                       Titanic  2064.162353
3   Star Wars: The Force Awakens  1823.223624
11        Avengers: Infinity War  1752.415039
2                 Jurassic World  1521.537444
15                 The Lion King  1402.020819
4                      Furious 7  1325.400000
13                     Frozen II  1303.683476
7                   The Avengers  1298.815515

In [324]:
lowest_budget_movies = newMoviesDf.sort_values(by='budget', ascending=True).head(10)
lowest_budget_movies[['title', 'budget']]

                                           title  budget
1   Harry Potter and the Deathly Hallows: Part 2   125.0
0                                         Frozen   150.0
2                                 Jurassic World   150.0
13                                     Frozen II   150.0
12                          Beauty and the Beast   160.0
14                Jurassic World: Fallen Kingdom   170.0
4                                      Furious 7   190.0
8                                  Incredibles 2   200.0
9                                  Black Panther   200.0
16                                       Titanic   200.0

In [342]:

newMoviesDf['roi'] = newMoviesDf['revenue'] / newMoviesDf['budget']
highest_roi = newMoviesDf['roi'].idxmax()
print(newMoviesDf.loc[highest_roi,['title', 'roi']])

title       Avatar
roi      12.336312
Name: 6, dtype: object

In [326]:
newMoviesDf

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget,revenue,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,profit,loss
0,109445,Frozen,Who will save the day? The ice guy? The nice g...,2013-11-20,Animation|Family|Adventure|Fantasy,Frozen Collection,en,150.0,1274.219009,Walt Disney Animation Studios,United States of America,17182,7.200,19.5948,102,Young princess Anna of Arendelle dreams about ...,English,/itAKcobTYGpYT8Phwjd8c9hleTo.jpg,1124.219009,-1124.219009
1,12445,Harry Potter and the Deathly Hallows: Part 2,It all ends.,2011-07-12,Adventure|Fantasy,Harry Potter Collection,en,125.0,1341.511219,Warner Bros. Pictures|Heyday Films,United Kingdom|United States of America,21451,8.084,16.7884,130,"Harry, Ron and Hermione continue their quest t...",English,/c54HpQmuwXjHq2C9wmoACjxoom3.jpg,1216.511219,-1216.511219
2,135397,Jurassic World,The park is open.,2015-06-06,Action|Adventure|Science Fiction|Thriller,Jurassic Park Collection,en,150.0,1671.537444,Amblin Entertainment|Universal Pictures|Legend...,United States of America,21121,6.700,9.3334,124,Twenty-two years after the events of Jurassic ...,English,/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg,1521.537444,-1521.537444
3,140607,Star Wars: The Force Awakens,Every generation has a story.,2015-12-15,Adventure|Action|Science Fiction,Star Wars Collection,en,245.0,2068.223624,Lucasfilm Ltd.|Bad Robot,United States of America,20103,7.300,8.2672,136,Thirty years after defeating the Galactic Empi...,English,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,1823.223624,-1823.223624
4,168259,Furious 7,Vengeance hits home.,2015-04-01,Action|Crime|Thriller,The Fast and the Furious Collection,en,190.0,1515.400000,Original Film|One Race|Universal Pictures,United States of America,11031,7.223,8.1661,139,Deckard Shaw seeks revenge against Dominic Tor...,Ø§Ù„Ø¹Ø±Ø¨ÙŠØ©|English|EspaÃ±ol|à¸ à¸²à¸©à¸²à¹„à¸—à¸¢,/ktofZ9Htrjiy0P6LEowsDaxd3Ri.jpg,1325.400000,-1325.400000
5,181808,Star Wars: The Last Jedi,Let the Past Die,2017-12-13,Adventure|Action|Science Fiction,Star Wars Collection,en,300.0,1332.698830,Lucasfilm Ltd.,United States of America,15926,6.800,6.9173,152,Rey develops her newly discovered abilities wi...,English,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,1032.698830,-1032.698830
6,19995,Avatar,Enter the world of Pandora.,2009-12-15,Action|Adventure|Fantasy|Science Fiction,Avatar Collection,en,237.0,2923.706026,Dune Entertainment|Lightstorm Entertainment|20...,United States of America|United Kingdom,32856,7.594,26.7105,162,"In the 22nd century, a paraplegic Marine is di...",English|EspaÃ±ol,/gKY6q7SjCkAU6FqvqWybDYgUKIF.jpg,2686.706026,-2686.706026
7,24428,The Avengers,Some assembly required.,2012-04-25,Science Fiction|Action|Adventure,The Avengers Collection,en,220.0,1518.815515,Marvel Studios,United States of America,34224,7.865,45.9289,143,When an unexpected enemy emerges and threatens...,English|à¤¹à¤¿à¤¨à¥à¤¦à¥€|PÑƒÑÑÐºÐ¸Ð¹,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,1298.815515,-1298.815515
8,260513,Incredibles 2,"It's been too long, dahlings.",2018-06-14,Action|Adventure|Animation|Family,The Incredibles Collection,en,200.0,1243.225667,Pixar,United States of America,13368,7.456,9.8497,118,Elastigirl springs into action to save the day...,English,/9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg,1043.225667,-1043.225667
9,284054,Black Panther,Long live the king.,2018-02-13,Action|Adventure|Science Fiction,Black Panther Collection,en,200.0,1349.926083,Marvel Studios,United States of America,22971,7.400,7.4587,135,"King T'Challa returns home to the reclusive, t...",English|í•œêµ­ì–´/ì¡°ì„ ë§|Kiswahili|,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,1149.926083,-1149.926083
10,299534,Avengers: Endgame,Avenge the fallen.,2019-04-24,Adventure|Science Fiction|Action,The Avengers Collection,en,356.0,2799.439100,Marvel Studios,United States of America,26962,8.238,13.9608,181,After the devastating events of Avengers: Infi...,English|æ—¥æœ¬èªž|,/bR8ISy1O9XQxqiy0fQFw2BX72RQ.jpg,2443.439100,-2443.439100
11,299536,Avengers: Infinity War,Destiny arrives all the same.,2018-04-25,Adventure|Action|Science Fiction,The Avengers Collection,en,300.0,2052.415039,Marvel Studios,United States of America,31176,8.236,22.0512,149,As the Avengers and their allies have continue...,English|,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,1752.415039,-1752.415039
12,321612,Beauty and the Beast,Be our guest.,2017-03-16,Family|Fantasy|Romance,NaN,en,160.0,1266.115964,Walt Disney Pictures|Mandeville Films,United States of America,15832,6.969,11.6822,129,A live-action adaptation of Disney's version o...,English|FranÃ§ais,/hKegSKIDep2ewJWPUQD7u0KqFIp.jpg,1106.115964,-1106.115964
13,330457,Frozen II,The past is not what it seems.,2019-11-20,Family|Animation|Adventure|Comedy|Fantasy,Frozen Collection,en,150.0,1453.683476,Walt Disney Animation Studios,United States of America,10072,7.241,8.9592,103,"Elsa, Anna, Kristoff and Olaf head far into th...",English,/mINJaa34MtknCYl5AjtNJzWj8cD.jpg,1303.683476,-1303.683476
14,351286,Jurassic World: Fallen Kingdom,The park is gone.,2018-06-06,Action|Adventure|Science Fiction|Thriller,Jurassic Park Collection,en,170.0,1310.469037,Amblin Entertainment|Universal Pictures,United States of America,12408,6.538,8.9474,129,Three years after Jurassic World was destroyed...,English|PÑƒÑÑÐºÐ¸Ð¹,/x8cLgs0uXlb9rmpuVIxopoRGnCr.jpg,1140.469037,-1140.469037
15,420818,The Lion King,The king has returned.,2019-07-12,Adventure|Drama|Family|Animation,The Lion King (Reboot) Collection,en,260.0,1662.020819,Walt Disney Pictures|Fairview Entertainment,United States of America,10570,7.102,8.7748,118,"Simba idolizes his father, King Mufasa, and ta...",English,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,1402.020819,-1402.020819
16,597,Titanic,Nothing on earth could come between them.,1997-11-18,Drama|Romance,NaN,en,200.0,2264.162353,Paramount Pictures|20th Century Fox|Lightstorm...,United States of America,26511,7.903,28.5469,194,101-year-old Rose DeWitt Bukater tells the sto...,English|FranÃ§ais|Deutsch|svenska|Italiano|PÑƒÑÑÐºÐ¸Ð¹,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,2064.162353,-2064.162353
17,99861,Avengers: Age of Ultron,A new age has come.,2015-04-22,Action|Adventure|Science Fiction,The Avengers Collection,en,235.0,1405.403694,Marvel Studios,United States of America,23876,7.271,10.9130,141,When Tony Stark tries to jumpstart a dormant p...,English,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,1170.403694,-1170.403694